@page "/counter"

<PageTitle>Counter</PageTitle>
<section>
	<div>
		<h2>Counter</h2>

		<p>Current Count: @currentCount</p>
		<ul>
			<li>
				<button class="btn btn-primary" @onclick="IncrementCount">Increment Counter</button> </li>
			<li>
				<button class="btn btn-secondary" @onclick="DecrementCount">Decrese Counter</button>
				<br />High how are you today?
			</li>
		</ul>
		
	</div>
	
</section>


@code {
	private int currentCount = 0;

	[Parameter]
	public int IncrementAmount { get; set; } = 1;

	private void IncrementCount()
	{
		currentCount+=IncrementAmount;
	}
	private void DecrementCount()
	{
		currentCount -= IncrementAmount;
	}
}
