@page "/counter"

<PageTitle>Counter</PageTitle>
<section>
	<div>
		<h2>Counter</h2>

		<p>Current Count: @currentCount</p>
		<ul>
			<li>
				<button class="btn btn-primary" @onclick="IncrementCount">Increment Counter</button>
			</li>
			<li>
				<button class="btn btn-secondary" @onclick="DecrementCount">Decrese Counter</button>
				<br />High how are you today?
			</li>
		</ul>
		<ul>
			<li>
				Is the current count zero?
				<p>@isZero</p>
			</li>
		</ul>

	</div>

</section>

@code {
	private int currentCount = 0;
	private bool isZero = true;

	[Parameter]
	public int IncrementAmount { get; set; } = 1;
	[Parameter]
	public int LowerBounds { get; set; } = 1;
	[Parameter]
	public int UpperBounds { get; set; } = 1;

	private void IncrementCount()
	{
		if (Math.Abs(currentCount) != UpperBounds)
			currentCount += IncrementAmount;
		IsZero();
	}
	private void DecrementCount()
	{
		if (Math.Abs(currentCount) != LowerBounds)
			currentCount -= IncrementAmount;
		IsZero();

	}
	private void IsZero()
	{
		if (Math.Abs(currentCount) != 0)
			isZero = false;
		else
			isZero = true;
	}

}
