@page "/"

<PageTitle>Journal Me</PageTitle>

<div>
	<h1>Start Me</h1>
	<ol>
		<li>Get this todo list started.</li>
		<li>Following the donet projects for now.</li>
	</ol>
	<ul>
		<li>This app's text side lives here.</li>

		<li>Sub List work?</li>
	</ul>
	<Counter IncrementAmount="1" LowerBounds="0" UpperBounds="10"/>
	<ToDoForm />
	<ToDoForm>my Form Here.</ToDoForm>
	<h3>would be console app</h3>
	<h3>
		In the C# code, make a list of strings. 
		In the HTML do a foreach on the list of strings and do something like <br />string <br /> and bam, anything in the list ends up in the html.
		then all you have to do is get strings into that list. 
		Which there may be easier ways, but off the top of my head I'm thinking you could just make a textbox, bind the value to a string variable, then make a submit button and bind the onclick to a method. 
		In the method take the string variable, add it to the list, then clear it back to empty string. Then bam done.
	</h3>
@*	@foreach (string s in stringList)
	{
	using [Paramater] get/set for imputing the stringList?
		<p>s</p>
	}*@
</div>
@*@code{
	private List<string> stringlist;
}*@
